.references{
  padding: 2%;
  border: 1px solid rebeccapurple;
}
.references h2{
  margin-top: 0;
  padding-top: 0;
  color: grey;
}
.references h1{
  margin-bottom: 0;
  padding-bottom: 0;
  color: orangered;
}

#star1{
  padding: 2%;
  font-size: 28px;
  color:orangered;
}

.divider .star {
  display: flex;
  flex-direction: column;
  padding: 50%;
  font-size: 28px;
  color:orangered;
  margin: 20%;
}

.divider{
  width: 20px;
  height: 10vh;
}