<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
    <script src="/src/resources/js/gsap.min.js"></script>
    <link rel="stylesheet" href="/src/resources/css/style.css">
    <title>GSAP Course</title>
  </head>

  <body id="background-moon">

    <div class="div-title">
      <img src="/src/resources/img/title.png" alt="image" width="150" id="title">
    </div>
    <h1 id="time">Today at 11:00pm</h1>
    <div class="container" id="monsters">
      <div>
        <img src="/src/resources/img/monster1.png" alt="image" width="150">
      </div>
      <div>
        <img src="/src/resources/img/monster2.png" alt="image" width="150">
      </div>
      <div>
        <img src="/src/resources/img/monster3.png" alt="image" width="150">
      </div>
      <div>
        <img src="/src/resources/img/monster4.png" alt="image" width="150">
      </div>
      <div>
        <img src="/src/resources/img/monster5.png" alt="image" width="150">
      </div>
      <div>
        <img src="/src/resources/img/monster6.png" alt="image" width="150">
      </div>
    </div>

    <script src="/src/resources/js/advanced_timeline.js"></script>
  </body>

</html>