<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <script src="/src/resources/js/gsap.min.js"></script>
  <link rel="stylesheet" href="/src/resources/css/style.css">
  <title>GSAP Course</title>
</head>
<body>

  <h4>A basic tween</h4>
  <div class="divider">
    <img src="/src/resources/img/shark.svg" alt="image" width="150" id="shark">
  </div>

  <script src="/src/resources/js/basic_tween.js"></script>
</body>
</html>