<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/src/resources/js/gsap.min.js"></script>
  <script src="/src/resources/js/CustomEase.min.js"></script>
  <title>Document</title>
  
  <style>

    body{
      margin: 0;
      padding: 0;
    }
    
    #conteudo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 100vw;
      min-height: 100vh;
    }
    
    img{
      width: 200px;
    }
    
  </style>
  
</head>
<body>
  <main>
    <div id="conteudo">
      <img src="/src/resources/img/monster4.png" alt="" id="icon">
      <p>click</p>
    </div>
  </main>
  <script src="/src/resources/js/custom-ease.js"></script>
</body>
</html>