<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
    <script src="/src/resources/js/gsap.min.js"></script>
    <link rel="stylesheet" href="/src/resources/css/style.css">
    <title>GSAP Course</title>
  </head>

  <body>

    <h4>Special effect ease</h4>
    <div class="divider">
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
      <br>
      <span><i class="fas fa-star star"></i></span>
    </div>

    <script src="/src/resources/js/ease.js"></script>
  </body>

</html>