<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <script src="/src/resources/js/gsap.min.js"></script>
  <link rel="stylesheet" href="/src/resources/css/style.css">
  <title>GSAP Course</title>
</head>
<body>
  <div class="references">
    <h1>Introduction</h1>
    <h2>Gsap course</h2>
    <a href="https://www.creativecodingclub.com/courses">References</a>
  </div>

  <h4>A basic horizontal moviment</h4>
  <div class="divider">
    <span><i class="fas fa-star" id="star1"></i></span>
  </div>

  <h4>A basic horizontal moviment 3 stars</h4>
  <div class="divider">
    <span><i class="fas fa-star star"></i></span>
    <span><i class="fas fa-star star"></i></span>
    <span><i class="fas fa-star star"></i></span>
  </div>

  <h4>A basic tween</h4>
  <div class="divider">
    <img src="/src/resources/img/sun.svg" alt="image" width="150" id="sun">
  </div>

  <script src="/src/resources/js/introduction.js"></script>
</body>
</html>