<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/src/resources/js/gsap.min.js"></script>
  <link rel="stylesheet" href="/src/resources/css/style.css">
  <title>GSAP Course</title>
</head>
<body id="project">
  <main id="main">
    <div class="text">
      <h1>A leitura</h1>
      <h2>Dê asas a sua imaginação</h2>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
      <input type="button" value="Saiba mais">
    </div>
    <div id="itens">
      <img src="/src/resources/img/book-yellow.png" alt="book" id="book3">
      <img src="/src/resources/img/book-green.png" alt="book" id="book2">
      <img src="/src/resources/img/book-blue.png" alt="book" id="book1">
    </div>
    <div id="stars">
      <div class="star" id="star5"></div>
      <div class="star" id="star2"></div>
      <div class="star" id="star3"></div>
      <div class="star" id="star4"></div>
    </div>
  </main>
  <script src="/src/resources/js/project-reading.js"></script>
</body>
</html>