<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.min.js"></script>
  <script src="https://kit.fontawesome.com/8701d44bdc.js" crossorigin="anonymous"></script>
  <title>Document</title>
  <style>
    header{
      background-color: aquamarine;
      min-height: 200px;
      padding: 5%;
    }
    main{
      padding: 5%;
    }
    footer{
      background-color: aqua;
      padding: 10%;
      color: blue;
    }
    #animation{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-color: blanchedalmond;
      min-height: 200px;
    }
    #icone{
      font-size: 50px;
      text-align: center;
      color: brown;
      width: 50px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Title</h1>
    <h2>Subtitle</h2>
  </header>
  <main>
    <h3>Lorem</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis suscipit nihil doloribus dolor eos velit autem. Ducimus asperiores ipsa, sequi eveniet expedita, rerum a, quaerat dolor quos unde odio iure!</p>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Atirei o pau no gatis, per gatis num morreus. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Si num tem leite então bota uma pinga aí cumpadi!
      Diuretics paradis num copo é motivis de denguis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Casamentiss faiz malandris se pirulitá.
      A ordem dos tratores não altera o pão duris. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Per aumento de cachacis, eu reclamis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.</p>
      <div>
        <img src="/src/resources/img/book-yellow.png" alt="" width="150">
      </div>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cupiditate mollitia eligendi dolore molestiae sequi! Aspernatur asperiores id, officia, libero esse neque, impedit rerum tenetur ea earum nihil eos tempora?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, id voluptatem. Laboriosam tenetur doloribus praesentium nesciunt repellendus eveniet? Architecto sunt earum odio quia culpa enim perspiciatis amet quis odit placeat.</p>
      <div>
        <img src="/src/resources/img/book-green.png" alt="" width="150">
      </div>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Atirei o pau no gatis, per gatis num morreus. Copo furadis é disculpa de bebadis, arcu quam euismod magna. Si num tem leite então bota uma pinga aí cumpadi!
    Diuretics paradis num copo é motivis de denguis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Casamentiss faiz malandris se pirulitá.
    A ordem dos tratores não altera o pão duris. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. Sed non consequat odio. Per aumento de cachacis, eu reclamis. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.</p>
    <div id="animation">
      <div id="icone"><i class="fas fa-volleyball-ball"></i></div>
    </div>
    <h4>Lorem</h4>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
    <div>
      <img src="/src/resources/img/book-blue.png" alt="" width="150">
    </div>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
      Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.</p>
    <p>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</p>
  <div>
    <img src="/src/resources/img/monster4.png" alt="" width="200" style="margin: 100px 0;">
  </div>  
  </main>
    <footer>
      <cite>Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros commodo tempor.</cite>
    </footer>
    <script src="/src/resources/js/scroll-animation.js"></script>
  </body>
  </html>